!/.idea
/target/
/log/
/.idea/workspace.xml
/allure-results/
.idea/workspace.xml
pow.xml
.idea/
target/
autotests.iml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_1.xml
testng.xml
aspectjweaver-1.9.1.jar
pom.xml
autotests.iml
testng.xml
desktop.ini
autotests.iml
*.pdf
autotests.iml
build/
/build/
